/* competitionInfo.css */

.competition-info-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.left-section {
    flex: 1;
    max-width: 300px;
    padding-right: 20px;
    /* border-right: 1px solid #ddd; */
}

.left-section .title{
    font-weight: 400;
    margin-bottom: 20px;
    color: #ffffff;
    writing-mode: vertical-rl;
    font-size: 40px;
}

.left-section .date {
    color: #ffffff;
    font-size: 40px;
    width: 60px;
    margin-bottom: 20px;
}

.left-section .location p {
    color: #ffffff;
    margin-bottom: 10px;
}

.schedule-section .title {
    color: #ffffff;
    font-size: 16px;
}

.schedule-section {
    flex: 2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.schedule-section .day-container {
    width: 45%;
    margin-bottom: 80px;
}

.schedule-section .day-header {
    position: absolute;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.schedule-section .day-number {
    position: absolute;
    top: -60px;
    left: -40px;
    font-family: "Iansui", cursive;
    font-size: 120px;
    font-weight: bold;
    line-height: 1;
    color: #f0c040;
    z-index: -10;
    background: linear-gradient(180deg, rgba(240, 192, 64, 0.5), #121534 95%); /* 漸層顏色 */
    -webkit-background-clip: text; /* 讓背景剪裁到文字 */
    -webkit-text-fill-color: transparent;
}

.schedule-section .week-name {
    font-weight: bold;
    color: #ffffff;
    font-size: 40px;
    margin-left: 50px;
    font-family: "Iansui", cursive;
}

.schedule-section .schedule-list {
    list-style: none;
    padding: 0;
    margin-top: 100px;
}

.schedule-section .schedule-list li {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}

.schedule-list li .time{
    width: 160px;
    margin-right: 10px;
}

.campBtn{
    width: 80%;
    cursor: pointer;
}

.campBtn button{
    width: 100%;
    padding: 10px 10px;
    border: 1px solid var(--white);
    background-color: transparent;
    color: var(--white);
    transition: all 0.4s ease-in-out;
}

.campBtn button:hover{
    background-color: rgb(57, 63, 120);
    color: var(--white);
}

.campBtn ul{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.campBtn ul li{
    margin-bottom: 10px;
    background-color: rgb(57, 63, 120);
    border-radius: 5px;
    padding: 6px 10px;
}

.campBtn ul li:hover{
    background-color: rgb(80, 84, 124);
}

@media (max-width:1024px) {
    .competition-info-container {
        padding: 40px;
    }
    .schedule-section {
        flex-direction: column;
    }

    .schedule-section .day-container {
        width: 100%;
        margin-bottom: 80px;
    }
}

@media (max-width:768px) {
    .competition-info-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .left-section {
        max-width: 100%;
        padding-right: 0px;
        margin-bottom: 150px;
    }
    
    .left-section .title{
        writing-mode: horizontal-tb;
    }
    
    .left-section .date {
        color: #ffffff;
        width: auto;
    }

    .schedule-section {
        flex-direction: column;
    }

    .schedule-section .day-container {
        width: 100%;
        margin-bottom: 80px;
    }

    .schedule-list li .time{
        width: 120px;
        margin-right: 0px;
    }

    .campBtn{
        width: 300px;
    }
}

@media (max-width:425px) {
    .schedule-list li {
        flex-direction: column;
        margin-bottom: 5px;
    }

    .schedule-list li .title {
        margin-bottom: 10px;
    }

    .left-section{
        text-align: center;
    }

    .left-section .title{
        margin-bottom: 0px;
    }

    .campBtn{
        width: 200px;
        margin: 0 auto;
    }
}