.OpeningLogo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 45;
}

.OpeningBG{
    width: 100%;
    height: 760px;
    z-index: 40;
    background-image: url("http://live.staticflickr.com/65535/54427165601_36a6d84eba_k.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}