.sloganContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.sloganContainer.visible {
    opacity: 1;
    transform: translateY(0);
}

.sloganContainer .textContainer{
    width: 60%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.textContainer.visible {
    opacity: 1;
    transform: translateY(0);
}

.textContainer .titleEn{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 30px;
}

.textContainer .titleZh{
    margin-bottom: 20px;
}

.textContainer h3{

}

.sloganContainer .imgContainer{
    width: 40%;
}

.sloganContainer .imgContainer img{
    width: 100%;
    margin: -20px;
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.imgContainer img.visible {
    opacity: 1;
    transform: translateX(0);
}


@media (max-width:1024px) {
    .sloganContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .sloganContainer .textContainer{
        width: 100%;
    }

    .textContainer .titleEn{
        font-size: 50px;
    }
    
    .textContainer .titleZh{
        margin-bottom: 20px;
    }
    
    .textContainer h3{
        
    }
    
    .sloganContainer .imgContainer{
        width: 0%;
        display: none;
    }
}

@media (max-width:768px) {
    .textContainer .titleEn{
        font-size: 36px;
    }
    
    .textContainer .titleZh{
        font-size: 36px;
    }
    
    .textContainer h3{
        font-size: 18px;
    }
}

@media (max-width:425px) {
    .textContainer .titleEn{
        font-size: 30px;
    }
    
    .textContainer .titleZh{
        font-size: 30px;
    }
    
    .textContainer h3{
        font-size: 18px;
    }
}