@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Iansui&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Iansui&family=Noto+Sans+HK:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap');

@font-face {
  font-family: 'EnglishFont';
  src: url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Iansui&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans+HK:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap') format('woff2');
}

@font-face {
  font-family: 'PointerFont';
  src: url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Iansui&family=Noto+Sans+HK:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap') format('woff2');
}

@font-face {
  font-family: 'ChineseFont';
  src: url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Iansui&family=Noto+Sans+HK:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap') format('woff2');
}

:root {
  font-family: 'ChineseFont', serif;
  font-family: 'EnglishFont', serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  color: var(--white);
  background-color: #121534;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* variables */
  --primary-blue: #050C28;
  --black-0: rgb(0, 0, 0);
  --content-grey: rgba(0, 0, 0, 0.6);
  --blue-1: #212433;
  --blue-2: #1a2240;
  --blue-3: #3c4257;
  --white: #ffffff;
  --grey-0:#ebebeb;
  --grey-1:#d2d2d2;
  --grey-2:#dcdcdc;
  --grey-3:#c6c6c6;
  --grey-4:#a9a9a9;
  --grey-5: #383838;
  --grey-trans-1: rgba(255, 255, 255, 0.3);
  --grey-trans-2: rgba(255, 255, 255, 0.1);
  --brown-1:#e2e0de;
  --green-1: #4FBBAE;
  --green-2: #88dbd2;
  --purple-1: rgba(230, 100, 230, 0.763);
  --tag-BG:#e06900;
  --tag-orange-1: #CA7508;
  --table-tr:#e06900;
  --table-tab:#ff973b;
  --openingLogo: rgb(244, 244, 244);
  --openingBG-mask: rgba(0, 0, 0, 0.4);
}

*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.xContainer{
  padding: 0 180px;
  margin-bottom: 300px;
}

.Container{
  padding: 160px 180px;
}

.yContainer{
  padding: 0px 180px;
}

a {
  font-weight: 500;
  color: #878787;
  text-decoration: inherit;
}

a:hover {
  color: var(--green-1);
}

.imgActive:hover{
  cursor: pointer;
  transform: translateY(-3px);
}

body {
  /* Maintenance Test Close*/
  /* margin: 150px 0 660px;
  padding: 0 180px; 
  min-width: 320px;
  min-height: 100vh; */
}

.maintenanceText{
  font-size: 20px;
  font-weight: 200;
  font-family: "Boldonse", system-ui;
  margin-bottom: 20px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* background-color: var(--blue-1); */
  /* background-color: rgb(0, 0, 80); */
  padding: 60px auto;
  z-index: 50;
}

header a{
  /* color: #8C8383; */
  color: #ffffff;
  font-weight: 900;
}

header ul ul li a{
  color: #8C8383;
  font-weight: 400;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  /* background-color: var(--blue-1); */
  z-index: 30;
}

h1 {
  font-size: 32px;
  line-height: 1.1;
}

h2 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  /* background-color: #9a9a9a; */
}

h3{
  font-size: 20px;
  font-weight: 400;
}

h4{
  font-size: 16px;
  font-weight: 400;
  letter-spacing:3px;
}

h5{
  font-size: 12px;
  font-weight: 400;
  letter-spacing:3px;
}

button{
  width: fit-content;
  display: inline;
  padding: 6px 10px;
  background-color: #e8e8e8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  color: black;
}

.button{
  font-family: "Iansui", cursive;
  width: fit-content;
  display: inline;
  padding: 6px 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  color: black;
}

button:hover{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

select{
  background-color: #fff;
  color: #383838;
}

/* ========== table ============= */

tr{
  font-size: 14px;
}

td{
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  background-color: #f2f2f2;
}

/* ======================= */

@media (max-width:1250px) {
  body {
    padding: 0 180px;
  }
}

@media (max-width:1024px) {
  body {
    padding: 0 120px;
  }
}

@media (max-width:768px) {
  body {
    padding: 0 80px;
  }
}

@media (max-width:425px) {
  body {
    padding: 0 20px;
  }
}